<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldbank.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldBank">

        <!-- launcher -->
        <activity
            android:name=".activities.auth.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WorldBank.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.auth.OnboardingActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.auth.WelcomeActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.auth.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.cards.CardDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.cards.CardStatisticActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.budget.BudgetsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.transaction.SendMoneyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.transaction.TransferSuccessActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.transaction.TransactionHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.account.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.payments.TopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.payments.PaymentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.cards.AddCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.account.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.account.UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.transaction.ReviewPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.payments.ConfirmTopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.payments.AddPayeeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.payments.PaymentSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.account.PrivacySecurityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>